h2{ color: rgb(34, 238, 45);

    font-size: 45px;


    font-family: italic ;
}
h1{
    color: rgb(18, 74, 126);
 
   font-family: oblique ;

   font-size: 80px;

   text-align: center;
}
a{ color: rgb(3, 1, 22);

    font-size: 30px;
    
    font-family: Times;

}

Cambria, Cochin, italic, Times, initial, oblique;
